* {
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
}

html, body {
    margin: 0;
    min-height: 100%;
    width: 100%;
    background-color: #fafafa;
}

nav {
    position: fixed;
    top: 0;
    width: calc(100% - 30px);
    height: 60px;
    padding: 15px;
    transition: .5s;
}

nav.small {
    height: 50px; 
    padding: 0;
    width: 100%;
    background-color: #151515;
    transition: .5s;
}

nav .logo {
    display: inline-block;
    min-width: 300px;
    width: 20%;
    height: 100%;
}

nav.small .logo h1 {
    padding: 7px;
}

nav .logo button {
    display: none;
}

nav .logo h1 {
    display: inline-block;
    margin: 0;
    font-size: 29px;
    padding: 13px 0;
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
}

nav .logo a {
    color: white;
}
nav .logo h1 .fa {
    padding-left: 15px;
    padding-right: 5px;
}

nav ul {
    margin: 0 auto; 
    float: right;
    height: 100%;
}


nav ul li {
    display: inline-block;
    height: 100%;
    list-style-type: none;
    text-align: right;
    vertical-align: middle;
}


nav ul li a {
    font-family: "Source Sans Pro";
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    vertical-align: middle;
    height: 26px;
    display: inline-block;
    padding: 17px 8px;
    transition: .3s;
}

nav.small ul li a {
    font-size: 1em;
    padding: 14px 8px 10px 8px;
}

nav ul li a.cta {
    background-color: #4f67f1;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.2), 1px 0 1px rgba(0, 0, 0, 0.2), -1px 0 1px rgba(0, 0, 0, 0.2);
}

nav.small ul li a.cta {
    border-radius: 0;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, .1);
    transition: .3s;
}

nav.small ul li a:hover {
    background-color: #232323;  
}

nav ul li a.cta:hover {
    background-color: #6479f0;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.2), 1px 0 1px rgba(0, 0, 0, 0.2), -1px 0 1px rgba(0, 0, 0, 0.2);
}

header {
    height: 320px;
    width: 100%;
    background-image: url('/img/header-fox.jpg');
    background-size: cover;
    background-position: center;
}

header.full-height {
    height: 100vh;
}

header h2 {
    position: absolute ;
    top: 240px;
    left: 10px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
}

header .arrow-down {
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: "Quicksand", sans-serif;
    animation-name: "blink";
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif; 
    font-weight: normal;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.container {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 60px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
}

@media screen and (max-width: 700px) {
    nav {
        width: 100%;
        padding: 0 !important;
    }
    nav .logo {
        width: 100%;
    }
    nav .logo a {
        text-decoration: none;
    }
    nav .logo a h1 {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    nav ul {
        background-color: rgba(0, 0, 0, .15); 
        height: fit-content;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100vh;
        padding: 0;
        display: block;
        float: none;
        overflow: scroll;
        transition-property: height;
        transition-duration: .5s;
        overflow: hidden;
        height: 0px;
    }

    nav ul li {
        display: block;
        width: 100%;
        height: 56px;
    }

    nav ul li a {
        display: block;
        width: 100vw;
        padding: 0; 
        text-align: center;
        padding: 15px 0;
    }

    nav .logo button {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        height: 60px;
        width: 60px;
        border: none;
        background-color: transparent;
        color: #dadada;
        cursor: pointer;
        transition: .3s;    
    }

    nav .logo button:hover {
        color: white;
        background-color: rgba(0, 0, 0, .1);
        transition: .3s;
    } 

}

@keyframes blink {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 1
    }

    50% {
        opacity: 0;

    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}